ion-header
	ion-navbar(color="primary")
		button(ion-button="",menuToggle="")
			ion-icon(name="menu")
		ion-title Syrus Driver Bluetooth
ion-content
	ion-card(padding *ngIf="!bt.device")
		ion-card-header Syrus Devices
		ion-list
			button(ion-item="", (click)="connect(device)", *ngFor="let device of devices")
				| {{ device.name }}
	ion-card(*ngIf="bt.device" padding)
		button(ion-button="", full="", color="danger", (click)="disconnect()", icon-left) 
			ion-icon(name="power")
			| Disconnect



ion-footer
	ion-toolbar
		button(ion-button="", (click)="scan()", full="", icon-left="", *ngIf="!bt.device")
			ion-icon(name="search")
			| {{ 'Scan'  | translate }}
		button(ion-button="",color="secondary", (click)="startEvents()", full="",
		*ngIf="bt.device") Subscribe to events
