page-page2 {
    p.code{
        background-color: rgba(#adadad, 0.22);
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        white-space: nowrap;
    }

    .response{
        background-color: rgba(#adadad, 0.42);
        color:#e2e2e2;
    }
}
